*{
    font-family: 'Poppins', sans-serif;
}

/* Pendiente: Arreglar el footer, arreglar los a:href del logo y las imagenes */

.video{
    max-width: 100%;

}

/* Estilos para Monitor */

@media screen and (min-width: 1280px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: 100vh;
        background: white;
        margin: 0;
        
    }
        
/* Elementos del HEADER */

    header{
        display: inline-flex;
        max-height: 15vh;
        margin-bottom: 0.2em;
        width: 100%;
        justify-content: center;
        background-color: #f5eee2;


    }

    .header-logo{
        /* border: 2px solid blue; */
        width: 10%;
    }

    .header-logo a img{
        height: 100%;
        width: 100%;
        object-fit:contain;
    }
    .spacing-logo{
        /* border: 2px solid blue; */
        width: 0%;
    }


    .menu-bar{
        /* border: 2px solid blue; */
        width: 50%;
        align-self: center;
        background-color: white;
        box-shadow: 0 0 0.5em rgba(0,0,0,30%);
        border-radius: 10px;
        padding-top: 0.5em;

    }

    #menu, #menu-check{
        display: none;
    }

    .menu-bar ul{
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 0.5em;
        font-size: large;
        font-weight: 200;
        
    }

    .menu-link:link{
        color: black;
        text-decoration: none;
    }

    .menu-link:visited {
        color:black
    }

    .menu-link:hover{
        background-color: #d4ccbe;
    }

    /* Elementos del MAIN */

    main {
        /* border: 2px solid black; */

        width: 80%;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

    }

    #Aboutme{
        grid-column-start: 2;
        grid-column-end: 6;
    }

    #Proyect{
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .video{
        grid-column-start: 2;
        grid-column-end: 6;
        height: 80vh;
        width: 100%;    

    }

    #formulario{
        grid-column-start: 2;
        grid-column-end: 4;
        /* border: solid blue 2px; */
    }

    .title-bar{
        /* border: 2px solid red; */
        text-align: center;
        grid-column: span 6;
    }
/* Contenedor y elementos de la Galeria */
   
    .card-container{
        /* border: 2px solid green; */
        height: 100%;
        display: grid;
        grid-column-start: span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 360px;
        padding: 20px;
        grid-gap: 2px;
        background-color: black;
    }
    /* Gatito */
    .card:nth-child(1){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    /* Ilustración 2 */
    .card:nth-child(2){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    /* Eddie */
    .card:nth-child(3){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    /* Elfa 1 */
    .card:nth-child(4){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    /* Elfa con manos */
    .card:nth-child(5){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    /* Ilustración 1 */
    .card:nth-child(6){
        grid-row-start: span 2;
        grid-column-start:span 1;
    }
    /* Itachi */
    .card:nth-child(7){
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .card{
        position: relative;
        transition: all .2s ease-in-out;

    }


    .card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .card:hover{
        transform: scale(1.1);
        z-index: 15;
    }

    .card-footer{
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        height: 10%;
        padding-top: 3em;
        margin:0;
        background: linear-gradient(rgba(255,255,255,0), black);
        text-align: center;

    }

/* Elementos del Footer */

    footer {
        background-color: #f5eee2;
        text-align: center;
        color: rgb(0, 0, 0);
        min-height:fit-content;
        justify-content: center;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 100%;
        margin-top: 0.5em;
        display: block;
        
    }

}

@media (min-width: 640px) and (max-width: 1280px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: 100vh;
        background: white;
        
    }
    
/* Elementos del HEADER */

    header{
        display: inline-flex;
        /* border: 2px solid black; */
        height: 10vh;
        margin-bottom: 0.2em;
        width: 100%;
        justify-content: center;
        background-color: #f5eee2;



    }

    .header-logo{
        /* border: 2px solid blue; */
        width: 10%;
    }

    .header-logo a img{
        height: 100%;
        width: 100%;
        object-fit:contain;
    }

    .spacing-logo{
        /* border: 2px solid blue; */
        width: 0%;
    }

    .menu-bar{
        /* border: 2px solid blue; */
        width: 75%;
        align-self: center;
        background-color: white;
        box-shadow: 0 0 0.5em rgba(0,0,0,30%);
        border-radius: 10px;

    }

    #menu, #menu-check{
        display: none;
    }

    .menu-bar ul{
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0.5em;
        font-size: large;
        font-weight: 200;
        
    }

    .menu-link:link{
        color: black;
        text-decoration: none;
    }

    .menu-link:visited {
        color:black
    }

    .menu-link:hover{
        background-color: #d4ccbe;
    }

    /* Elementos del MAIN */

    main {
        /* border: 2px solid black; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 80%;
        align-self: center;

    }

    #Aboutme{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    #Proyect{
        grid-column-start: 2;
        grid-column-end: 4;
    }


    #formulario{
        grid-column-start: span 2;
        grid-column-end: 4;
        /* border: solid blue 2px; */
    }
    .video{
        grid-column-start: 1;
        grid-column-end: 5;
        height: 70vh;
        width: 100%;    

    }


    .title-bar{
        /* border: 2px solid red; */
        height: 8%;
        margin-bottom: 0.2em;
        grid-column-start: span 4;
        text-align: center;
    }
/* Contenedor y elementos de la Galeria */
   
    .card-container{
        /* border: 2px solid green; */
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 200px;
        padding: 20px;
        grid-gap: 2px;
        background-color: black;
        grid-column-start: span 4;
    }

    .card{
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
   

    .card{
        position: relative;
        transition: all .2s ease-in-out;

    }

    .card:nth-child(7){
        grid-row-start:span 2;
        grid-column-start: span 4;
    }

    .card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .card:hover{
        transform: scale(1.15);
        z-index: 15;
    }

    .card-footer{
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        height: 10%;
        padding-top: 3em;
        margin:0;
        background: linear-gradient(rgba(255,255,255,0), black);
        text-align: center;

    }

/* Elementos del Footer */

    footer {
        background-color: #f5eee2;
        text-align: center;
        color: black;
        min-height:fit-content;
        justify-content: center;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 100%;
        margin-top: 0.5em;
        display: block;
        
    }
    

}


@media (max-width: 640px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        min-height: 100vh;
        background: white;
        
    }
    
/* Elementos del HEADER */

    header{
        display: flex-start;
        /* border: 2px solid black; */
        height: 10vh;
        margin-bottom: 5em;
        width: 100%;
        justify-content: inline;



    }

    .header-logo{
        /* border: 2px solid blue; */
        width: 0%;
        display: none;
    }


    .menu-bar{
        /* border: 2px solid blue; */
        /* width: 50%; */
        background-color: #d4ccbe;
        box-shadow: 0 0 0.5em rgba(0,0,0,30%);
        border-radius: 10px;
        place-content: space-between;
        position: fixed;
        top: 2.5em;
        right: 2.5em;
        padding-top: 0.5em;
        padding-right: 0.5em;
        opacity: 0.9;
        color: black;
        z-index: 999;


        

    }
    #menu, #menu-check{
        display: none;
    }

    #menu:hover{
        filter: saturate(300%);    
    }

    #menu-cerrar{
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }
    
    #menu-check:not(:checked) ~ .menu-bar{
        display: none;
    }

    #menu-check:checked ~ .menu-bar{
        display:block;
    }

    #menu{
        display: block;
        color:black;
        background-color: rgb(255, 255, 255);
        font-size: 1.5em;
        font-weight: bold;
        position: fixed;
        right: 1em;
        top: 1em;
        z-index: 9999;
        

    }

    .menu-bar ul{
        display: block;
        list-style: none;
        font-size: large;
        font-weight: 200;
        text-align: center;
        
    }
    .menu-bar ul li, .menu-link{
        display: block;
        text-align: center;
        padding-bottom: 0.5em;

    }

    .menu-link:link{
        color: black;
        text-decoration: none;
    }

    .menu-link:visited {
        color:black
    }

    .menu-link:hover{
        background-color: #ffffff;

    }

    /* Elementos del MAIN */

    main {
        /* border: 2px solid black; */

        width: 80%;
        align-self: center;

    }

    .title-bar{
        /* border: 2px solid red; */
        height: 8%;
        margin-bottom: 0.2em;
        text-align: center;
    }
/* Contenedor y elementos de la Galeria */
   
    .card-container{
        /* border: 2px solid green; */
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        padding: 20px;
        grid-gap: 2px;
        background-color: black;
    }

    .card:nth-child(1){

        grid-row-start: span 2;
    }
    .card:nth-child(2){

        grid-row-start: span 2;


    }
    .card:nth-child(3){

        grid-row-start: span 2;

    }

    .card:nth-child(4){
        grid-row-start: span 2;

    }

    .card:nth-child(5){
        grid-row-start: span 2;

    }

    .card:nth-child(6){

        grid-row-start: span 2;
        
        
    }
    .card:nth-child(7){
        grid-row-start: span 2;
        grid-column-start: span 1;
    }

    .card{
        position: relative;
        transition: all .2s ease-in-out;

    }


    .card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .card:hover{
        transform: scale(1.15);
        z-index: 15;
    }

    .card-footer{
        position: absolute;
        bottom: 0;
        color: white;
        width: 100%;
        height: 10%;
        padding-top: 3em;
        margin:0;
        background: linear-gradient(rgba(255,255,255,0), black);
        text-align: center;

    }

/* Elementos del Footer */

    footer {
        background-color: #f5eee2;
        text-align: center;
        color: black;
        min-height:fit-content;
        justify-content: center;
        padding-bottom: 1em;
        padding-top: 1em;
        width: 100%;
        margin-top: 0.5em;
        display: block;
        
    }

}